<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <ul class="nav navbar-nav" style="width:100%">
        <li style="width:30%"><a [routerLink]="['/addproject']" class="hrefHeight">Add Project</a> </li>
      
      
        <li style="width:30%"><a [routerLink]="['/addtask']" class="hrefHeight">Add Task</a></li>
      
      
        <li style="width:25%"><a [routerLink]="['/adduser']" class="hrefHeight">Add User</a></li>
      
       
        <li style="width:10%"><a [routerLink]="['/viewtask']" class="hrefHeight">View Task</a></li>
  </ul>
</div>
</nav> 
<router-outlet></router-outlet>
  