<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <form #addProjectForm="ngForm">
    <div style="text-align:left">
        <table>
            <tr>
                <td>
                        <h3>Project:</h3>
                </td>
                <td>
                        <h3><input type="text" [(ngModel)]="projectDesc" name="projectDesc" class="inputBoxSetting3" readonly required style="width:80%"/> &nbsp;&nbsp;<button type="button" (click)="addProject()" class="btn btn-primary btn-sm black-background white" data-toggle="modal" data-target="#myProjectModal">Search</button></h3>
                </td>
            </tr>
            <tr>
                    <td>
                        <h3>Task:</h3>
                    </td>
                    <td>
                        <h3><input type="text" [(ngModel)]="taskDesc" name="task" class="inputBoxSetting3" required/>
                        </h3>
                    </td>
            </tr>
            <tr>
                    <td style="padding-top:20px">&nbsp;</td>
                    <td style="padding-top:20px">
                           <h5> <input type="checkbox" (change)="toggle()" (checked)="checkBoxVal" name="checkBoxVal" class="inputBoxSetting3" style="width:20%"/> Parent Task</h5>
                            
                   </td>
            </tr>
            <tr>
                    <td>
                            <h3>Parent Task:</h3>
                    </td>
                    
                        <td>
                                <h3><input type="text" [disabled]="checkBoxVal" [(ngModel)]="parentTaskDesc" name="parentTaskDesc" class="inputBoxSetting3" readonly style="width:80%" />&nbsp;&nbsp;<button [disabled]="checkBoxVal" type="button" class="btn btn-primary btn-sm black-background white" data-toggle="modal" data-target="#myParentTaskModal" >Search</button></h3>
                        </td>
                   
                </tr>
                <tr>
                        <td style="padding-top:20px;padding-bottom: 20px">
                                <h3>Priority:</h3>
                        </td>
                        <td style="padding-top:20px;padding-bottom: 20px">
                                    <ng5-slider [(value)]="priority"  [(ngModel)]="priority" [options]="options"></ng5-slider>                                   
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <h3>Start Date:&nbsp;&nbsp;<input type="text" bsDatepicker [disabled]="checkBoxVal" name="startDate" [(ngModel)]="startDate" [bsConfig]="bsConfig" readonly required class="inputBoxSetting3" style="width:53%"/></h3>
                        </td>
                        <td>
                                <h3>End Date:&nbsp;&nbsp;<input type="text" bsDatepicker [disabled]="checkBoxVal" name="endDate" [(ngModel)]="endDate" [bsConfig]="bsConfig" readonly required class="inputBoxSetting3" style="width:53%"/></h3>
                                    
                        </td>
                    </tr>
                <tr>
                        <td>
                                <h3>Manager:</h3>
                        </td>
                        <td>
                                        <h3> <input type="text" [disabled]="checkBoxVal" [(ngModel)]="taskOwnerName" name="taskOwnerName" class="inputBoxSetting3" readonly required style="width:80%"/>&nbsp;&nbsp;<button type="button" (click)="addManager()" [disabled]="checkBoxVal"  class="btn btn-primary btn-sm black-background white" data-toggle="modal" data-target="#myModal">Search</button></h3>
                        </td>
                    </tr>
        </table>
        <table style="width:100%">
            <tr>
                    <td  style="text-align:center;padding-top:70px;"><button type="button" (click)="addTask()" class="btn btn-primary btn-lg black-background white" [disabled]="!addProjectForm.form.valid">Add</button></td>
                    <td style="text-align:left;padding-top:70px;"><button type="button" (click)="clearForm()" class="btn btn-primary btn-lg black-background white">Reset</button></td>
        
            </tr>
        </table>


    </div>
    </form>
    
    <div class="modal fade" id="myModal" role="document">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search Manger</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:left">
                        <h3><input type="text" placeholder="Search" [(ngModel)]="managerSearchVal" style="padding-left:5px;width:100%;height:50px;font-size:14pt"/>
                        </h3>
                        &nbsp;&nbsp;
                        <table style="width:100%">
                                <tr>
                                        <th style="width:34%">First Name</th>
                                        <th style="width:34%">Last Name</th>
                                        <th style="width:32%">Employee Id</th>
                                </tr>                            
                                <tr *ngFor="let user of users | userFilter:managerSearchVal" (click)='addTaskManager(user)'  [ngClass]="{'rowClass': user.userId===taskUserId}">
                                        <td style="width:34%">
                                                <input type="text" [(ngModel)]="user.firstName" name="firstName" class="inputBoxSetting3" disabled />
                                        </td>
                                        <td style="width:34%">
                                                <input type="text" [(ngModel)]="user.lastName" name="lastName" class="inputBoxSetting3" disabled/>
                                        </td>
                                        <td style="width:32%">
                                                <input type="text" [(ngModel)]="user.employeeId" name="employeeId" class="inputBoxSetting3" disabled />
                                        </td>
                                </tr>

                        </table>
                </div>
            </div>
            <div class="modal-footer d-flex">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)=assignFn()>Select</button>
            </div>
          </div>
          
        </div>
      </div>
      <div class="modal fade" id="myProjectModal" role="document">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search Project</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:left">
                        <h3><input type="text" placeholder="Search" [(ngModel)]="projectSearchVal" style="padding-left:5px;width:100%;height:50px;font-size:14pt"/>
                        </h3>
                        &nbsp;&nbsp;
                        <table style="width:100%">
                                <tr>
                                        <th style="width:34%"><h4><strong>Project</strong></h4></th>
                                        <th style="width:28%"><h4><strong>Start Date</strong></h4></th>
                                        <th style="width:28%"><h4><strong>End Date</strong></h4></th>
                                        <th style="width:10%"><h4><strong>Priority</strong></h4></th>
                                </tr>                            
                                <tr *ngFor="let project of data | projectFilter:projectSearchVal" (click)='addProjectData(project)'  [ngClass]="{'rowClass': project.projectId===projectId}">
                                        <td style="width:34%">
                                                <input type="text" [(ngModel)]="project.project" name="project" class="inputBoxSetting3" disabled />
                                        </td>
                                        <td style="width:28%">
                                                <input type="text" [(ngModel)]="project.startDate" name="startDate" class="inputBoxSetting3" disabled/>
                                        </td>
                                        <td style="width:28%">
                                                <input type="text" [(ngModel)]="project.endDate" name="endDate" class="inputBoxSetting3" disabled />
                                        </td>
                                        <td style="width:10%">
                                                <input type="text" [(ngModel)]="project.priority" name="priority" class="inputBoxSetting3" disabled />
                                        </td>
                                </tr>

                        </table>
                </div>
            </div>
            <div class="modal-footer d-flex">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)=assignProjectFn()>Select</button>
            </div>
          </div>
          
        </div>
      </div>

      <div class="modal fade" id="myParentTaskModal" role="document">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search Parent Task</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:left">
                        <h3><input type="text" placeholder="Search" [(ngModel)]="parentTaskSearchVal" style="padding-left:5px;width:100%;height:50px;font-size:14pt"/>
                        </h3>
                        &nbsp;&nbsp;
                        <table style="width:50%">
                                <tr>
                                        <th style="width:34%">Parent Task</th>
                                </tr>                            
                                <tr *ngFor="let parentTask of parentTaskData | parentTaskFilter:parentTaskSearchVal" (click)='addParentTaskData(parentTask)'  [ngClass]="{'rowClass': parentTask.id===parentTaskId}">
                                        <td style="width:100%">
                                                <input type="text" [(ngModel)]="parentTask.parentTaskDesc" name="parentTaskDesc" class="inputBoxSetting3" disabled />
                                        </td>
                                        
                                </tr>

                        </table>
                </div>
            </div>
            <div class="modal-footer d-flex">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)=assignParentTaskFn()>Select</button>
            </div>
          </div>
          
        </div>
      </div>
</div>

