<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <form #addProjectForm="ngForm">
    <div style="text-align:left">
        <table>
            <tr>
                <td>
                        Project:
                </td>
                <td>
                        <input type="text" [(ngModel)]="project" name="project" class="inputBoxSetting3" required/>
                </td>
            </tr>
            <tr>
                    <td>&nbsp;</td>
                    <td>
                            <input type="checkbox" (change)="toggle()" [(ngModel)]="checkBoxVal" name="checkBoxVal" class="inputBoxSetting3" required/>
                            Set Start Date and End Date <input type="text" bsDatepicker [disabled]="!checkBoxVal" name="startDate" [(ngModel)]="startDate" [bsConfig]="bsConfig" readonly required class="inputBoxSetting3"/>
                            <input type="text" bsDatepicker  name="endDate" [(ngModel)]="endDate" [disabled]="!checkBoxVal" [bsConfig]="bsConfig" readonly required class="inputBoxSetting3"/>
                   </td>
            </tr>
            <tr>
                    <td>
                            Priority:
                    </td>
                    <td>
                                <ng5-slider [(ngModel)]="priority" [options]="options"></ng5-slider>
                    </td>
                </tr>
                <tr>
                        <td>
                                Employee Id:
                        </td>
                        <td>
                                <input type="text" pattern="[1-9][0-9]*" [(ngModel)]="employeeId" name="employeeId" class="inputBoxSetting3" required/>
                        </td>
                    </tr>
        </table>
        <table>
            <tr>
                    <td [hidden]="visible" style="text-align:center;padding-top:70px;"><button type="button" (click)="addUser()" class="btn btn-primary btn-lg black-background white" [disabled]="!addUserForm.form.valid">Add</button></td>
                    <td [hidden]="!visible" style="text-align:center;padding-top:70px;"><button type="button" (click)="updateUser()" class="btn btn-primary btn-lg black-background white" [disabled]="!addUserForm.form.valid">Update</button></td>
                    <td style="text-align:left;padding-top:70px;"><button type="button" (click)="resetForm()" class="btn btn-primary btn-lg black-background white">Reset</button></td>
        
            </tr>
        </table>


    </div>
    </form>
    <div style="text-align:left">
        <h3><input type="text" placeholder="Search" [(ngModel)]="projectSearch" style="padding-left:5px;width:100%;height:50px;font-size:14pt"/>
                Sort : <button name="startDate" (click)='setOrder($event)' style="width:90%" class="btn btn-primary btn-lg black-background white" >Start Date</button>
                <button name="endDate" (click)='setOrder($event)' style="width:90%" class="btn btn-primary btn-lg black-background white" >End Date</button>
                <button name="priority" (click)='setOrder($event)' style="width:90%" class="btn btn-primary btn-lg black-background white" >Priority</button>
                <button name="completed" (click)='setOrder($event)' style="width:90%" class="btn btn-primary btn-lg black-background white" >Completed</button>
        </h3>
        &nbsp;&nbsp;
        <div *ngFor="let project of data | projectfilter:projectSearch | orderBy:orderByData:reverse:true" class="divSetting">
            <table style="width:100%">
                <tr>                       
                    <td style="width:60%">
                        <table style="width:100%">
                                <tr>
                                        <td>
                                                Project:
                                        </td>
                                        <td>
                                                {{project.project}}
                                        </td>
                                        <td>
                                                &nbsp;
                                        </td>
                                        <td>
                                                &nbsp;
                                        </td>
                                </tr>
                                <tr>
                                                <td>
                                                        No of Tasks:
                                                </td>
                                                <td>
                                                        {{project.noOfTasks}}
                                                </td>
                                                <td>
                                                        Completed:
                                                </td>
                                                <td>
                                                        {{project.completed}}
                                                </td>
                                </tr>
                                <tr>
                                                <td>
                                                        Start Date:
                                                </td>
                                                <td>
                                                        {{project.startDate}}
                                                </td>
                                                <td>
                                                        End Date:
                                                </td>
                                                <td>
                                                        {{project.endDate}}
                                                </td>
                                </tr>
                        </table>
                    </td>
                    <td style="width:20%">
                            <table style="width:100%">
                                <tr>
                                        <td>Priority</td>
                                </tr>
                                <tr>
                                        <td>{{project.priority}}</td>
                                </tr>
                            </table>
                    </td>
                    <td style="width:20%">
                                <table style="width:100%">
                                                <tr>
                                                        <td><button name="edit" (click)='editUser(user)' style="width:90%" class="btn btn-primary btn-lg black-background white">Update</button></td>
                                                </tr>
                                                <tr>
                                                                <td><button name="edit" (click)='editUser(user)' style="width:90%" class="btn btn-primary btn-lg black-background white">Suspend</button></td>
                                                </tr>
                                            </table>

                    </td>
                </tr>
            </table>
            &nbsp;
        </div>
    </div>
</div>


