<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div style="text-align:left">
        <table style="width:100%">
                <tr>
                        <td style="width:50%">
                                <table style="width:60%">
                                <tr>
                                        <td style="width:20%">
                                                <h3>Project:</h3>
                                        </td>
                                        <td style="width:80%">
                                                <h3><input type="text" [(ngModel)]="projectDesc" name="projectDesc" class="inputBoxSetting3" readonly required style="width:70%"/>
                                                &nbsp;
                                                        <button type="button" (click)="addProject()" class="btn btn-primary btn-lg black-background white" data-toggle="modal" data-target="#myProjectModal">Search</button></h3>
                                        </td>
                                </tr>
                                
                                </table>
                        </td>
                        <td [hidden]="taskData===null" style="width:50%">
                                       <h3> Sort : <button name="startDate" (click)='setOrder($event)' style="width:25%" class="btn btn-primary btn-lg black-background white" >Start Date</button>
                                        <button name="endDate" (click)='setOrder($event)' style="width:25%" class="btn btn-primary btn-lg black-background white" >End Date</button>
                                        <button name="priority" (click)='setOrder($event)' style="width:20%" class="btn btn-primary btn-lg black-background white" >Priority</button></h3>
                                        
                        </td>
                </tr>
        </table>


    </div>

    <div [hidden]="taskData===1" *ngFor="let task of taskData |orderBy:orderByData:reverse:true" class="divSetting">
        <table style="width:100%">
                <tr>
                        <th style="width:20%">
                                <h4><strong>Task</strong></h4>
                        </th>
                        <th style="width:20%">
                                <h4><strong>Parent</strong></h4>
                        </th>
                        <th>
                                <h4><strong>Priority</strong></h4>
                        </th>
                        <th>
                                <h4><strong>Start</strong></h4>
                        </th>
                        <th>
                                <h4><strong>End</strong></h4>
                        </th>
                        <th>
                                <h4><strong>Status</strong></h4>
                        </th>
                        <th>
                                &nbsp;
                        </th>
                        <th>
                                &nbsp;
                        </th>
                </tr>
                <tr>
                        <td style="width:20%">
                                <div style="width:15%;border:2px thin">
                                                <h4>{{task.task}}</h4>
                                        </div>
                        </td>
                        <td style="width:20%">

                                        <h4>{{task.parentTask.parentTaskDesc}}</h4>
                                        
                        </td>
                        <td>
                                        <h4>{{task.priority}}</h4>
                        </td>
                        <td>
                                        <h4>{{task.startDate}}</h4>
                        </td>
                        <td>
                                        <h4>{{task.endDate}}</h4>
                        </td>
                        <td>
                                        <h4>{{task.status}}</h4>
                        </td>
                        <td>
                                        <button name="editTask" (click)='editTask(task.taskId)' style="width:60%" class="btn btn-primary btn-sm black-background white" [disabled]="task.status==='Suspended' || task.status==='Completed'">Edit</button>
                        </td>
                        <td>
                                        <button name="endTask" (click)='endTask(task.taskId)' style="width:60%" class="btn btn-primary btn-sm black-background white" [disabled]="task.status==='Suspended' || task.status==='Completed'">End Task</button>
                        </td>
                </tr>
                                   
        </table>                               
    </div>

                        
   
      <div class="modal fade" id="myProjectModal" role="document">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search Project</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:left">
                        <h3><input type="text" placeholder="Search" [(ngModel)]="projectSearch" style="padding-left:5px;width:100%;height:50px;font-size:14pt"/>
                        </h3>
                        &nbsp;&nbsp;
                        <table style="width:100%">
                                <tr>
                                        <th style="width:34%">Project</th>
                                        <th style="width:28%">Start Date</th>
                                        <th style="width:28%">End Date</th>
                                        <th style="width:10%">Priority</th>
                                </tr>                            
                                <tr *ngFor="let project of data | projectFilter:projectSearch | noTaskFilter" (click)='addProjectData(project)'  [ngClass]="{'rowClass': project.projectId===projectId}">
                                        <td style="width:34%">
                                                <input type="text" [(ngModel)]="project.project" name="project" class="inputBoxSetting3" disabled />
                                        </td>
                                        <td style="width:28%">
                                                <input type="text" [(ngModel)]="project.startDate" name="startDate" class="inputBoxSetting3" disabled/>
                                        </td>
                                        <td style="width:28%">
                                                <input type="text" [(ngModel)]="project.endDate" name="endDate" class="inputBoxSetting3" disabled />
                                        </td>
                                        <td style="width:10%">
                                                <input type="text" [(ngModel)]="project.priority" name="priority" class="inputBoxSetting3" disabled />
                                        </td>
                                </tr>

                        </table>
                </div>
            </div>
            <div class="modal-footer d-flex">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)=assignProjectFn()>Select</button>
            </div>
          </div>
          
        </div>
      </div>

     </div>

